h2{
    font-size: 20px;
    text-align: center;
    color: rgb(204, 140, 140); 
}
.content{
    text-align: center;
    font-style:oblique;
}
b{
    color: red;
}
.kho1{
    color: red;
}
.kho2{
    color: blue;
}
.kho3{
    color: green;
}

  